In [17]:

import numpy as np
import pandas as pd

In [19]:
import pandas as pd

# Correct way to specify file path and sheet name
file_path = "D:/Polymers/extracted/Ramp 5.00 °Cmin to 800.00 °C.xlsx" # This should be a string
sheet_name = 0  # This is passed separately

# Load the Excel file
df = pd.read_excel(file_path, sheet_name=sheet_name)

# Optional: check the first few rows
print(df.head())

   Temperature cel  Weight%  Heat Flow (Normalized) W/g  Time min       1/RT  \
0              301   99.511                       0.166     11.96  69.058215
1              302   99.503                       0.169     12.13  69.178494
2              303   99.494                       0.170     12.31  69.298773
3              304   99.485                       0.170     12.49  69.419052
4              304   99.485                       0.170     12.49  69.419052

   ln(B/T^2)  Efficiency
0  -9.804783      0.00489
1  -9.811416      0.00497
2  -9.818028      0.00506
3  -9.824617      0.00515
4  -9.824617      0.00515

In [33]:

# Ensure proper column names
temperature_col = 'Temperature cel'
weight_col = 'Weight%'
heat_flow= 'Heat Flow (Normalized) W/g'
Time_min='Time min'
X='1/RT'
Y='ln(B/T^2)'
conv_col='conversion'


df[conv_col] = (
    df[conv_col]                       # original column (any type)
      .astype(str)                    # make sure it’s a string
      .str.extract(r'([-+]?\d*\.?\d+)')  # first numeric substring
      .astype(float)                  # to float
      .round(2)                       # two decimals
)

# Extract only Temperature and Weight%
result = df[df[conv_col].notna()].copy()
result.head()

# result = filtered_df[[temperature_col, weight_col,heat_flow,Time_min,X,Y,Efficiency_col]]

,Temperature cel,Weight%,Heat Flow (Normalized) W/g,Time min,1/RT,ln(B/T^2),Efficiency
0,301,99.511,0.166,11.96,69.058215,-9.804783,0.00
1,302,99.503,0.169,12.13,69.178494,-9.811416,0.00
2,303,99.494,0.170,12.31,69.298773,-9.818028,0.01
3,304,99.485,0.170,12.49,69.419052,-9.824617,0.01
4,304,99.485,0.170,12.49,69.419052,-9.824617,0.01

In [35]:
# Optional: Save to new Excel
result.to_excel("D:/Polymers/extracted/efficiency_300_800_5ramp.xlsx", index=False)

In [37]:
import pandas as pd
from openpyxl import load_workbook

# --- 1. load ------------------------------------------------------
file_path   = r"D:/Polymers/extracted/efficiency_300_800_5ramp.xlsx"          # <‑‑ change this
sheet       = "Sheet1"                           # <‑‑ change this if needed
df = pd.read_excel(file_path, sheet_name=sheet)

# --- 2. drop rows that are complete duplicates -------------------
df = df.drop_duplicates()                # keep='first' is default

# --- 3. group (merge) on identical efficiency values -------------
# Build an aggregation rule for every column except 'efficiency'
agg_rules = {
    col: ("mean" if pd.api.types.is_numeric_dtype(df[col]) else "first")
    for col in df.columns if col != "conversion"
}

df_merged = (
    df
    .groupby("conversion", as_index=False)  # keep 'efficiency' as a normal column
    .agg(agg_rules)                         # apply the rules
)

# OPTIONAL: round any floats coming from the mean, e.g. to 2 dp
df_merged = df_merged.round(2)

In [39]:
print(df_merged)

    Efficiency   Temperature cel  Weight%  Heat Flow (Normalized) W/g  \
0          0.00           301.50    99.51                        0.17
1          0.01           340.57    99.08                        0.27
2          0.02           388.52    98.11                        0.40
3          0.03           400.50    97.04                        0.39
4          0.04           405.83    96.09                        0.38
5          0.05           410.00    95.03                        0.36
6          0.06           413.00    94.05                        0.34
7          0.07           415.50    93.07                        0.31
8          0.08           417.50    92.09                        0.27
9          0.09           419.50    90.93                        0.23
10         0.10           421.00    89.95                        0.21
11         0.11           422.00    89.19                        0.20
12         0.12           423.50    87.98                        0.18
13         0.13           425.00    86.59                        0.17
14         0.14           426.00    85.58                        0.16
15         0.16           427.00    84.46                        0.15
16         0.17           428.00    83.22                        0.14
17         0.18           429.00    81.93                        0.13
18         0.19           430.00    80.50                        0.12
19         0.21           431.00    78.97                        0.11
20         0.23           432.00    77.33                        0.10
21         0.24           433.00    75.53                        0.09
22         0.26           434.00    73.65                        0.07
23         0.28           435.00    71.58                        0.06
24         0.31           436.00    69.44                        0.05
25         0.33           437.00    67.10                        0.04
26         0.35           438.00    64.62                        0.03
27         0.38           439.00    62.09                        0.02
28         0.41           440.00    59.41                        0.01
29         0.43           441.00    56.52                       -0.01
30         0.46           442.00    53.58                       -0.03
31         0.50           443.00    50.50                       -0.04
32         0.53           444.00    47.36                       -0.06
33         0.56           445.00    44.22                       -0.06
34         0.59           446.00    41.17                       -0.05
35         0.62           447.00    37.98                       -0.04
36         0.65           448.00    34.88                       -0.02
37         0.68           449.00    31.88                        0.00
38         0.71           450.00    28.91                        0.02
39         0.74           451.00    25.92                        0.06
40         0.77           452.00    22.84                        0.11
41         0.80           453.00    20.08                        0.15
42         0.82           454.00    17.61                        0.21
43         0.85           455.00    15.26                        0.26
44         0.87           456.00    13.12                        0.32
45         0.90           457.00    10.48                        0.36
46         0.91           458.00     8.73                        0.41
47         0.93           459.00     7.14                        0.47
48         0.94           460.00     5.72                        0.53
49         0.96           461.00     4.47                        0.58
50         0.97           462.50     2.98                        0.65
51         0.98           464.00     1.85                        0.71
52         0.99           466.20     0.87                        0.77
53         1.00           631.87    -0.14                        0.92

    Time min    1/RT  ln(B/T^2)
0      12.05   69.12      -9.81
1      19.75   73.82     -10.05
2      29.25   79.59     -10.32
3      31.63   81.03     -10.38
4      32.70   81.67     -10.40
5      33.53   82.17     -10.42
6      34.14   82.53     -10.44
7      34.64   82.83     -10.45
8      35.05   83.07     -10.46
9      35.46   83.31     -10.47
10     35.77   83.49     -10.48
11     35.97   83.61     -10.48
12     36.28   83.79     -10.49
13     36.58   83.97     -10.49
14     36.78   84.09     -10.50
15     36.98   84.21     -10.50
16     37.18   84.33     -10.51
17     37.39   84.45     -10.51
18     37.59   84.57     -10.52
19     37.79   84.69     -10.52
20     37.99   84.81     -10.53
21     38.19   84.94     -10.53
22     38.39   85.06     -10.54
23     38.60   85.18     -10.54
24     38.80   85.30     -10.55
25     39.00   85.42     -10.55
26     39.20   85.54     -10.55
27     39.41   85.66     -10.56
28     39.61   85.78     -10.56
29     39.81   85.90     -10.57
30     40.01   86.02     -10.57
31     40.22   86.14     -10.58
32     40.42   86.26     -10.58
33     40.62   86.38     -10.59
34     40.82   86.50     -10.59
35     41.01   86.62     -10.60
36     41.21   86.74     -10.60
37     41.40   86.86     -10.60
38     41.59   86.98     -10.61
39     41.78   87.10     -10.61
40     41.97   87.22     -10.62
41     42.15   87.34     -10.62
42     42.34   87.46     -10.63
43     42.52   87.58     -10.63
44     42.70   87.70     -10.64
45     42.89   87.82     -10.64
46     43.07   87.94     -10.64
47     43.25   88.06     -10.65
48     43.43   88.18     -10.65
49     43.61   88.30     -10.66
50     43.90   88.48     -10.66
51     44.18   88.66     -10.67
52     44.60   88.93     -10.68
53     77.66  108.86     -11.26

In [45]:
# --- save df_merged to a new (second) sheet ------------------------
with pd.ExcelWriter(
        file_path,              # same workbook
        engine="openpyxl",
        mode="a",               # append, don’t overwrite the file
        if_sheet_exists="replace"   # replace if a sheet with this name already exists
    ) as writer:
    df_merged.to_excel(writer, sheet_name="Cleaned", index=False)

In [49]:
import pandas as pd
import numpy as np
from scipy.stats import linregress
import matplotlib.pyplot as plt

# ------------------------------------------------------------
# 1. LOAD THE DATA (adjust the path/sheet as needed)
file_path  = r"D:/Polymers/extracted/efficiency_300_800_5ramp.xlsx"
sheet_name = "Cleaned"

df = pd.read_excel(file_path, sheet_name=sheet_name)
df.head()

,Efficiency,Temperature cel,Weight%,Heat Flow (Normalized) W/g,Time min,1/RT,ln(B/T^2)
0,0.00,301.50,99.51,0.17,12.05,69.12,-9.81
1,0.01,340.57,99.08,0.27,19.75,73.82,-10.05
2,0.02,388.52,98.11,0.40,29.25,79.59,-10.32
3,0.03,400.50,97.04,0.39,31.63,81.03,-10.38
4,0.04,405.83,96.09,0.38,32.70,81.67,-10.40

In [51]:
from scipy.stats import linregress

x = df['1/RT'].astype(float).to_numpy()
y = df['ln(B/T^2)'].astype(float).to_numpy()

slope, _, _, _, _ = linregress(x, y)
print(f"Slope: {slope:.6e}")

Slope: -3.668838e-02